.containerElement {
    background-color: #B1A296;
    cursor: pointer;
    width: 15%;
    height: 20vh;
    max-height: 15em;
    min-width: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border-radius: .25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    height: 35%;
    min-height: 50px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
    color: #557A95;
}

div.title > h4 {
    font-size: 2vh;
    text-align: center;
}

.badge {
    color: #5d5C61 !important;
    font-size: 75% !important;
    align-self: center !important;
}

.description {
    visibility: hidden;
    background-color: #557A95;
    height: auto;
    min-height: 65%;
    width: 100%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.5vh;
}

.containerElement:hover > div.description {
    visibility: visible !important;
}